*{
  margin: 0;
  padding: 0;
  
}
.navbar{

border: none;
background-color: greenyellow;
color: orangered;
}
body{
  background-color: #61122F;
  color: black;
}
.glyphicon{
  font-size: 30px;
  color:#61122F; 
  text-align: center;
}

.center{
  width: 90%;
  background-color: grey;

}
.container
{
  background-color: grey;
}
.text-center{
  font-size: 30px;
}

h2{
  text-align: center;
}
#collapsable-nav ul li a {
  color: black;
}
.navbar-brand{
font-size: 30px; 
color: blanchedalmond; 
}
.navbar-toggle{
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

}

@media (min-width: 1200px){
  #collapsable-nav{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .container-fluid{
    padding-bottom: 5px;
  }
  
}
@media (min-width: 768px) and (max-width: 1199px){
  #collapsable-nav{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .navbar-toggle{
    display: none;
  }

}